@use "globals" as *;

// Hero Section
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -40px;

  &__image {
    mix-blend-mode: multiply;
    height: auto;
  }

  @include respond-to ("small") {

    &__image {
      max-width: 100%;
    }
  }

}

